<h1>LISTA DE ALUMNOS</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Columna Id -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <!-- Columna Documento -->
  <ng-container matColumnDef="doc">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Documento</th>
    <td mat-cell *matCellDef="let element">{{ element.doc }}</td>
  </ng-container>
  <!-- Columna Alumno -->
  <ng-container matColumnDef="alumno">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Alumno</th>
    <td mat-cell *matCellDef="let element">
      {{ element | alumnoApellidoNombre | titlecase  }}
    </td>
  </ng-container>
    <!-- Columna Perfil -->
  <ng-container matColumnDef="perfil">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Perfil</th>
    <td mat-cell *matCellDef="let element">
      {{ element.perfil | titlecase  }}
    </td>
  </ng-container>
  <!-- Columna Acciones -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Acciones</th>
    <td mat-cell *matCellDef="let element">
       <button [routerLink]="element.id"  >
        <mat-icon>visibility</mat-icon>
        </button>
      <button [disabled]="(autUsuario$|async) ?.role != 'admin'"  (click)="editarAlumno.emit(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button [disabled]="(autUsuario$|async) ?.role != 'admin'" (click)="borrarAlumno.emit(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
