<h1>INSCRIPCIONES REALIZADAS</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Columna Insc ID-->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Inscrpción ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <!-- Columna Documento -->
  <ng-container matColumnDef="doc">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Alumno Doc.</th>
    <td mat-cell *matCellDef="let element">{{ element.student?.doc }}</td>
  </ng-container>

    <!-- Columna Alumno -->
  <ng-container matColumnDef="student">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Alumno Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.student?.nombre }} {{element.student?.apellido}} </td>
  </ng-container>
 
  <!-- Columna Curso ID -->
  <ng-container matColumnDef="courseId">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Curso ID</th>
    <td mat-cell *matCellDef="let element">{{ element.courseId  }}</td>
  </ng-container>

    <!-- Columna Curso -->
  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Curso Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.course?.desc }}</td>
  </ng-container>
    <!-- Columna Fecha -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Fecha</th>
    <td mat-cell *matCellDef="let element">{{ element.fecha | date:"dd/MM/yyyy" }}</td>
  </ng-container>
    <!-- Columna Usuario Id -->
  <ng-container matColumnDef="usuarioId">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Id Usuario</th>
    <td mat-cell *matCellDef="let element">{{ element.usuarioId }}</td>
  </ng-container>
  <!-- Columna Acciones -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button [disabled]="(autUsuario$|async) ?.role != 'admin'" (click)="editarInscripcion.emit(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="borrarInscripcion.emit(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
