<app-alumnos-tabla (borrarAlumno)="onBorrarAlumno($event)" (editarAlumno)="onEditarAlumno($event)" [dataSource]="alumnosData"/>

<div class="d-flex align-items-center my-4">
  <ng-container *ngIf="estoyCargando; else noEstoyCargando">
    <P>Por favor espere...</P>
  </ng-container>
  <ng-template #noEstoyCargando>
  
<form [formGroup]="alumnoForm" (ngSubmit)="onSubmit()"  class="container text-center">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Documento</mat-label>
        <input matInput class="w-100" id="doc"  type="number" formControlName="doc"/>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput class="w-100" id="nombre" type="text" formControlName="nombre"/>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput class="w-100" id="apellido" type="text" formControlName="apellido"/>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field>
        <mat-label>Curso</mat-label>
        <input matInput class="w-100" id="curso" type="text" formControlName="curso"/>
      </mat-form-field>
    </div>
    <div class="col">
        <button mat-stroked-button type="submit"  class=" w-100">{{estoyEditDoc ? 'Editar': 'Agregar'}}</button>
    </div>
  </div>
</form>
</ng-template>
</div>