<h1>CONTROL DE USUARIOS</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Nombre -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.nombre | titlecase }}</td>
  </ng-container>
  <!-- Email -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Usuario</th>
    <td mat-cell *matCellDef="let element">
      {{ element.email | lowercase  }}
    </td>
  </ng-container>
    <!-- Password -->
  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Password</th>
    <td mat-cell *matCellDef="let element">
      {{ element.password  }}
    </td>
  </ng-container>
  <!-- Rol -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Permisos</th>
    <td mat-cell *matCellDef="let element">
      {{ element.role | lowercase }}
    </td>
  </ng-container>
  <!-- Acciones -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef appCabeceras20>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button  (click)="editarUsuario.emit(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="borrarUsuario.emit(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
