<div class="d-flex flex-column justify-content-center my-4 mx-5">
  <ng-container *ngIf="(datosCurso$ | async) as curso; else noCurso">
    <h1>Alumnos inscriptos a: {{ curso.desc }}</h1>
    <p>Id de curso: {{ curso.id }}</p>
  </ng-container>
</div>

<ng-template #noCurso>
  <h1>Curso no encontrado.</h1>
</ng-template>
<div class="d-flex flex-column justify-content-center my-4 mx-5">
  <ng-container *ngIf="(alumnosInscriptos$ | async)?.length as inscripciones; else noInscripciones">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Columna inscripcionId -->
      <ng-container matColumnDef="inscId">
        <th mat-header-cell *matHeaderCellDef> Inscripción ID </th>
        <td mat-cell *matCellDef="let inscripcion"> {{ inscripcion.id || 'Sin Inscripcion Id' }} </td>
      </ng-container>
      <!-- Columna Student Id -->
      <ng-container matColumnDef="studentId">
        <th mat-header-cell *matHeaderCellDef> Alumno ID </th>
        <td mat-cell *matCellDef="let inscripcion"> {{ inscripcion.student?.id || 'Sin Alumno ID' }} </td>
      </ng-container>
      <!-- Columna Student doc -->
      <ng-container matColumnDef="studentDoc">
        <th mat-header-cell *matHeaderCellDef> Alumno Doc </th>
        <td mat-cell *matCellDef="let inscripcion"> {{ inscripcion.student?.doc || 'Sin Doc' }} </td>
      </ng-container>
      <!-- Columna Student Nombre -->
      <ng-container matColumnDef="studentNombre">
        <th mat-header-cell *matHeaderCellDef> Alumno Nombre </th>
        <td mat-cell *matCellDef="let inscripcion"> {{ inscripcion.student?.nombre || 'Sin nombre' }} {{
          inscripcion.student?.apellido || 'Sin nombre' }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>

  <ng-template #noInscripciones>
    <p>No se encontraron inscripciones.</p>
  </ng-template>
</div>